img {
    /* border: 1px solid #ddd;
    border-radius: 4px; */
    /* paddings: 5px; */
    width: 75%;
    height : 45%;
    bottom:25px;
    margin-top:25px;
    padding: 10px 20px;
  }
/* 
Card {

} */