.my-button{
    background-color: #243d56;
    color: white;
    width: 200px;
    font-weight: bold;
}
.my-button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    font-weight: bold;
}